* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  background-color: #131921;
}
.header-logo {
  object-fit: contain;
  width: 100px;
  height: 48px;
  margin: 0 20px;
  margin-top: 15px;
}

.search-icon {
  background-color: orange;
  padding: 5px;
  height: 22px !important;
  border-radius: 2px;
}

.header-search {
  display: flex;
  flex: 0.5;
}

.search-input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}